*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  border: 0; 
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  color: black;
  background: #F1F1FC;
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Nunito';
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  display: flex;
}

main {

}

input:focus, textarea:focus, select:focus{
    outline: none;
}

::-moz-placeholder {
    color: #00000080;
}

:-ms-input-placeholder {
    color: #00000080;
}

::placeholder {
    color: #00000080;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #505DF1;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6471ff;
}

.v-select {

}

.vs__dropdown-toggle {
  background-color: #f8f8fc !important;
  border-color: #3b3b3b !important;
  border-radius: 20px !important;
  padding: 0.25rem 0.5rem !important;
  padding-bottom: calc(0.25rem + 4px) !important;
}

.v-select input {
  width: 140px !important; 
  cursor: pointer !important;
}

.vs__selected {
  position: absolute;
}

.vs__actions {
  margin-right: 2px;
}

.vs__clear {
  display: none;
}
@media screen and (min-width: 1024px) {
    body {
      display: flex;
    }
}
