*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: black;
    background: #f1f1fc;
    transition: color 0.5s, background-color 0.5s;
    font-family: "Nunito" !important;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    display: flex;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5019607843);
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5019607843);
}

::placeholder {
    color: rgba(0, 0, 0, 0.5019607843);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #505df1;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6471ff;
}

main {
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    width: 75vw;
    overflow: hidden;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100% - 5rem);
    flex-grow: 1;
    margin-top: 5rem;
    padding: 0 2vw;
}

.vs__dropdown-toggle {
    background-color: #f8f8fc !important;
    border-color: #3b3b3b !important;
    border-radius: 20px !important;
    padding: 0.25rem 0.5rem !important;
    padding-bottom: calc(0.25rem + 4px) !important;
}

.v-select input {
    width: 140px !important;
    cursor: pointer !important;
}

.vs__selected {
    position: absolute;
}

.vs__actions {
    margin-right: 2px;
}

.vs__clear {
    display: none;
}

button {
    cursor: pointer;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color: rgb(153, 167, 237);
    background-image: linear-gradient(90deg, transparent 0%, rgb(80, 93, 241) 80%);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    max-width: 300px;
    transition: 0.25s all;
    margin: 0.5rem;
}

button:active {
    background-color: rgb(80, 93, 241);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

form .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

form .input input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5019607843);
    transition: 0.25s all;
}

form .input input:focus {
    transform: scale(1.05);
}

form .input textarea {
    font-family: "Nunito";
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 600px;
    resize: none;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5019607843);
    transition: 0.25s all;
}

form .input textarea:focus {
    transform: scale(1.05);
}

@media screen and (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        width: 100%;
    }

    .page {
        margin-top: 0;
        transition: 0.5s all;
        height: 100%;
    }
}

