container_commands:
    01change_permissions:
        command: sudo chown $USER:webapp /var/app/current/storage -R
    02change_permissions:
        command: find /var/app/current/storage -type d -exec chmod 775 {} \;
    03change_permissions:
        command: find /var/app/current/storage -type f -exec chmod 664 {} \;
    04export_variables:
        command: export $(/opt/elasticbeanstalk/bin/get-config --output YAML environment | sed -r 's/: /=/' | xargs)